{% extends "layout_dashboard.html" %}

{% block title %}안녕히 가세요! - singleview.co.kr{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
            <div id="wrapper">
                <div id="login" class="animate form">
                    <section class="logout_content">
			        <p class="font-italic"><a href="{% url 'login' %}">다시 로그인 하기</a></p>
                    </section>
                    <!-- content -->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

