{% extends 'layout_dashboard.html' %}

{% load humanize %}
{% block content %}
    {% block content_header %}
    <!-- ion_range -->
      <link rel="stylesheet" href="/static/skins/default/css/normalize.css" />
      <link rel="stylesheet" href="/static/skins/default/css/ion.rangeSlider.css" />
      <link rel="stylesheet" href="/static/skins/default/css/ion.rangeSlider.skinFlat.css" />
    {% endblock %}
<!-- begin - budget list table -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>기간 예산 현황 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div>
                      <p>조회를 원하시는 예산 기간을 선택하세요.</p>
                      <input type="text" id="range_budget_period" value="" name="range" />
                    </div>
                    <br>
                    <form method="POST" id='frm_budget_inquiry' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="act" value="inquiry_budget" />
                    <input type="hidden" id="budget_period_from" name="budget_period_from" value="" />
                    <input type="hidden" id="budget_period_to" name="budget_period_to" value="" />
                    <button type="submit" class="btn btn-primary" id="btn_budget_enquiry">기간 예산 조회하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>예산 계획 추이 <small>월간 진행과 누적</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="demo-container" style="height: 280px; width: 100%;">
                            <canvas id="mybarChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_title">
                                <h2>기간 총계</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <h3 class="name_title">{{dict_budget_progress.n_tgt_act_gap_inc_vat|intword}}</h3>
                                <p>{{dict_budget_progress.s_tgt_act_gap_status}}</p>
                                <div class="divider"></div>
                                <p>선택한 기간의 누적 예산 목표는 {{dict_budget_progress.n_tgt_budget_inc_vat|intcomma}}원이고<BR>
                                    실제 집행액은<BR>{{dict_budget_progress.n_act_spent_inc_vat|intcomma}}원입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>기간 계정별 예산 내역 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>계정 분류</th>
                            <th>매체대행사</th>
                            <th>회계연월</th>
                            <th>메모</th>
                            <th>목표액(VAT포함, 원)</th>
                            <th>실제액(VAT포함, 원)</th>
                            <th>예산시작일</th>
                            <th>예산종료일</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dict_row in lst_budget_table %}
                        <tr>
                            <td title="{{dict_row.desc}}">{{dict_row.title}}</td>
                            <td>{{dict_row.media_agency_name}}</td>
                            <td>{{dict_row.alloc_period}}</td>
                            <td><a budget_id="{{dict_row.id}}" class="lnk_update_budget"><u>{{dict_row.memo}}</u></a></td>
                            <td>{{dict_row.target_amnt_inc_vat|intcomma}}</td>
                            <td>{{dict_row.actual_amnt_inc_vat|intcomma}}</td>
                            <td>{{dict_row.date_begin|date:'Y-m-d'}}</td>
                            <td>{{dict_row.date_end|date:'Y-m-d'}}</td>
                            <td>{{dict_row.regdate|date:'Y-m-d'}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <BR>
                    <table id="input-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>계정 분류</th>
                            <th>매체대행사</th>
                            <th>회계연월</th>
                            <th>예산 설명</th>
                            <th>목표액(VAT포함, 원)</th>
                            <th>예산시작일</th>
                            <th>예산종료일</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <form method="POST" id='frm_budget_appending' enctype="multipart/form-data">
                        <input type="hidden" id="act" name="act" value="add_budget" />
                        {% csrf_token %}
                        <tr>
                            <td>
                                <select class="form-control" name="acct_id">
                                <option value="">분류 선택</option>
                                {% for dic_acct in lst_acct_list %}
                                    <option value="{{dic_acct.n_acct_id}}">{{dic_acct.s_budget_acct_ttl}}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="media_agency_id">
                                <option value="">매체 대행사 선택</option>
                                {% for n_id, s_agency_name in dict_agency_list.items %}
                                    <option value="{{n_id}}">{{s_agency_name}}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="budget_alloc_period" placeholder="YYYYMM" style="height:34px"></td>
                            <td><input type="text" name="budget_memo" placeholder="캠페인 코드 입력하면 캠페인별 추적" style="height:34px"></td>
                            <td><input type="text" name="budget_target_amnt_inc_vat" placeholder="VAT 포함, 원" style="height:34px; width:80%"></td>
                            <td><input type="text" name="budget_date_begin" placeholder="YYYY-MM-DD" style="height:34px; width:80%"></td>
                            <td><input type="text" name="budget_date_end" placeholder="YYYY-MM-DD" style="height:34px; width:80%"></td>
                            <td><button type="submit" id='btn_add_budget' class="btn btn-primary">추가</button></td>
                        </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

https://taitems.github.io/jQuery.Gantt/ 방식으로 표시?

<!-- end - budget list table -->
<script type="text/javascript" src="/static/skins/default/js/moment/moment.min.js"></script>
<!-- range slider -->
<script src="/static/skins/default/js/ion_range/ion.rangeSlider.min.js"></script>

<!-- ion_range -->
<script>
jQuery(document).ready(function() {
    jQuery('#datatable-responsive').DataTable({
        "order": [[ 6, "desc" ]]
    });
});

// https://velog.io/@dojunggeun/JavaScript-Moment.js%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-Date-Time-%EA%B4%80%EB%A6%AC%ED%95%98%EA%B8%B0
jQuery(function() {
  jQuery("#range_budget_period").ionRangeSlider({
      type: "double",
      min: +moment('{{dict_budget_period.s_earliest_budget}}', 'YYYYMMDD').format("X"),
      max: +moment('{{dict_budget_period.s_latest_budget}}', 'YYYYMMDD').format("X"),
      from: +moment('{{dict_budget_period.s_earliest_req}}', 'YYYYMMDD').format("X"),
      to: +moment('{{dict_budget_period.s_latest_req}}', 'YYYYMMDD').format("X"),
      grid: true,
      force_edges: true,
      prettify: function(num) {
          var m = moment(num, "X");
          return m.format("Do MMMM, YYYY");
      }
  });
});
//const dateA = moment().format("X"); //moment('01-01-1900', 'DD-MM-YYYY');
//const dateB = moment('2021-06-23', 'YYYY-MM-DD').format("X"); //moment();

// Saving it's instance to var
var slider = $("#range_budget_period").data("ionRangeSlider");

jQuery("#btn_budget_enquiry").click(function (e) {
    //e.preventDefault();

    //var from = slider.result.from
    //var to = slider.result.to
    var n_from = jQuery('#range_budget_period').data().from;
    var n_to = jQuery('#range_budget_period').data().to;
    var s_from = moment.unix(n_from).format("YYYYMMDD");
    var s_to = moment.unix(n_to).format("YYYYMMDD");
    //var resultString = "Result: from: " + from + " to: " + to;
    //$("#result").html(resultString);
    $("#budget_period_from").val(s_from);
    $("#budget_period_to").val(s_to);
});
</script>
<!-- /ion_range -->

<script src="/static/skins/default/js/bootstrap.min.js"></script>
<script src="/static/skins/default/js/moment/moment.min.js"></script>
<script src="/static/skins/default/js/chartjs/chart.min.js"></script>

<script>
// Bar chart
var ctx = document.getElementById("mybarChart");
ctx.height = 110; // px
var mybarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
{% for s_yr_mo in dict_budget_progress.lst_budget_monthly_period %}
    '{{s_yr_mo}}',
{% endfor %}
         ],
        datasets: [{
            label: '예산 목표',
            backgroundColor: "#26B99A",
            data: [
{% for s_tgt_budget_inc_vat in dict_budget_progress.lst_budget_monthly_tgt %}
    '{{s_tgt_budget_inc_vat}}',
{% endfor %}
            ]
        }, {
            label: '예산 집행',
            backgroundColor: "#03586A",
            data: [
{% for s_act_spent_inc_vat in dict_budget_progress.lst_spent_monthly_act %}
    '{{s_act_spent_inc_vat}}',
{% endfor %}
            ]
        }]
    },
    options: {
        tooltips: {
            mode: 'index',
            intersect: false
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

<!-- Datatables-->
<link href="/static/skins/default/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<script src="/static/skins/default/js/datatables/jquery.dataTables.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.bootstrap.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.buttons.min.js"></script>
<script src="/static/skins/default/js/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/skins/default/js/datatables/jszip.min.js"></script>
<script src="/static/skins/default/js/datatables/pdfmake.min.js"></script>
<script src="/static/skins/default/js/datatables/vfs_fonts.js"></script>
<script src="/static/skins/default/js/datatables/buttons.html5.min.js"></script>
<script src="/static/skins/default/js/datatables/buttons.print.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.keyTable.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.responsive.min.js"></script>
<script src="/static/skins/default/js/datatables/responsive.bootstrap.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.scroller.min.js"></script>

<script type="text/javascript">
jQuery("#btn_add_budget").click(function(){
    n_acct_id = jQuery("select[name='acct_id']").val();
    //console.log(n_acct_id);
    if(n_acct_id == '')
    {
        alert('예산 분류를 선택하세요');
        return false;
    }
    else
        return true;
})

jQuery(".lnk_update_budget").click(function(){
    var nBudgetId = jQuery(this).attr('budget_id');
    if(nBudgetId > 0)
    {
        var aCurUrl = window.location.href.split('budget');
        var nBrandId = '{{n_brand_id}}';
        sCurUrlBase = aCurUrl[0]; // 기존 param 모두 무시
        // console.log(sCurUrlBase + 'budget_update/' + nBrandId + '/' + nBudgetId);
        window.location.href = sCurUrlBase + 'budget_update/' + nBrandId + '/' + nBudgetId;
    }
    else
        alert('plz choose budget');
})
</script>
{% endblock %}