{% extends 'layout_dashboard.html' %}

{% load humanize %}
{% block content %}
    {% block content_header %}
    {% endblock %}
<!-- begin - budget list table -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>비표준 캠페인명 대체 정보 수정 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form method="POST" id='frm_alias_update' enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <input type="hidden" id="act" name="act" value="update_alias" />
                    <input type="hidden" id="alias_id" name="alias_id" value="{{dict_alias_info.alias_id}}" />
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">수집된 비표준 캠페인명</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" readonly name="media_campaign_title" value="{{dict_alias_info.media_campaign_title}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">소스 종류<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="source_id">
                                <option value="">소스 선택</option>
                                {% for n_id, s_source in dict_source_type.items %}
                                    <option value="{{n_id}}" {% if dict_alias_info.source_id == n_id %}selected="selected"{% endif %}>{{s_source}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">검색 결과 유형<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="search_rst_type_id">
                                <option value="">검색 결과 선택</option>
                                {% for n_id, s_search_rst in dict_search_rst_type.items %}
                                    <option value="{{n_id}}" {% if dict_alias_info.search_rst_id == n_id %}selected="selected"{% endif %}>{{s_search_rst}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">매체 유형<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="media_type_id">
                                <option value="">매체 선택</option>
                                {% for n_id, s_medium in dict_medium_type.items %}
                                    <option value="{{n_id}}" {% if dict_alias_info.medium_id == n_id %}selected="selected"{% endif %}>{{s_medium}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 1</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_1" value="{{dict_alias_info.sv_lvl_1}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 2</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_2" value="{{dict_alias_info.sv_lvl_2}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 3</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_3" value="{{dict_alias_info.sv_lvl_3}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">대치할 표준 캠페인명</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" disabled value="{{dict_alias_info.sv_conventional_alias}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">등록 일시</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" readonly name="regdate" value="{{dict_alias_info.regdate}}">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" id='btn_update_budget' class="btn btn-success">수정</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}