{% extends 'layout_dashboard.html' %}

{% load humanize %}
{% block content %}
    {% block content_header %}
    <!-- ion_range -->
      <link rel="stylesheet" href="/static/skins/default/css/normalize.css" />
      <link rel="stylesheet" href="/static/skins/default/css/ion.rangeSlider.css" />
      <link rel="stylesheet" href="/static/skins/default/css/ion.rangeSlider.skinFlat.css" />
    {% endblock %}
<!-- begin - budget list table -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>선택 기간의 비표준 캠페인명 대치 목록 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div>
                      <p>조회 기간을 선택하세요.</p>
                      <input type="text" id="range_alias_period" value="" name="range" />
                    </div>
                    <br>
                    <form method="POST" id='frm_alias_inquiry' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="act" value="inquiry_alias" />
                    <input type="hidden" id="alias_period_from" name="alias_period_from" value="" />
                    <input type="hidden" id="alias_period_to" name="alias_period_to" value="" />
                    <button type="submit" class="btn btn-primary" id="btn_alias_enquiry">기간 조회하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>기간 비표준 캠페인명 대치 정보 내역 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>매체명</th>
                            <th>대체할 캠페인명</th>
                            <th>대치할 표준 캠페인명</th>
                            <th>등록일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dict_row in lst_campaign_alias_table %}
                        <tr>
                            <td title="{{dict_row.alias_id}}">{{dict_row.source_name}}</td>
                            <td><a alias_id="{{dict_row.alias_id}}" class="lnk_update_alias"><u>{{dict_row.media_campaign_title}}</u></a></td>
                            <td>{{dict_row.sv_conventional_alias}}</td>
                            <td>{{dict_row.regdate}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>탭으로 구분하여 복붙하기 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    <form method="POST" id='frm_alias_appending_bulk' enctype="multipart/form-data">
                    <input type="hidden" id="act" name="act" value="add_alias_bulk" />
                    {% csrf_token %}
                        <label for="message">replaceable_campaign_name \ source_tag \ rst_type_tag \ medium_tag \ camp1st \ camp2nd \ camp3rd \ regdate</label>
                        <textarea id="multiple_campaign_alias" name="multiple_campaign_alias" required="required" class="form-control" rows="10"></textarea>
                        <button type="submit" id='btn_add_alias_bulk' class="btn btn-primary">추가하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>대체할 캠페인명 대치 정보 개별 추가하기 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    <br />
                    <form method="POST" id='frm_alias_appending' enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <input type="hidden" id="act" name="act" value="add_alias_single" />
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">대체할 캠페인명</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" name="media_campaign_title" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">소스 종류<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="source_id">
                                <option value="">소스 선택</option>
                                {% for n_id, s_source in dict_source_type.items %}
                                    <option value="{{n_id}}">{{s_source}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">검색 결과 유형<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="search_rst_type_id">
                                <option value="">검색 결과 선택</option>
                                {% for n_id, s_search_rst in dict_search_rst_type.items %}
                                    <option value="{{n_id}}">{{s_search_rst}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ua">매체 유형<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="media_type_id">
                                <option value="">매체 선택</option>
                                {% for n_id, s_medium in dict_medium_type.items %}
                                    <option value="{{n_id}}">{{s_medium}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 1</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_1" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 2</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_2" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">캠페인 수준 3</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" placeholder="영문 대문자 혹은 숫자만 허용, 비우면 00" name="sv_lvl_3" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">등록일</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" name="regdate" placeholder="YYYY-MM-DD 공란이면 오늘" value="">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" id='btn_add_campaign_alias' class="btn btn-success">추가</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
<script type="text/javascript" src="/static/skins/default/js/moment/moment.min.js"></script>
<!-- range slider -->
<script src="/static/skins/default/js/ion_range/ion.rangeSlider.min.js"></script>

<!-- ion_range -->
<script>
// https://velog.io/@dojunggeun/JavaScript-Moment.js%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-Date-Time-%EA%B4%80%EB%A6%AC%ED%95%98%EA%B8%B0
jQuery(function() {
  jQuery("#range_alias_period").ionRangeSlider({
      type: "double",
      min: +moment('{{dict_alias_period.s_earliest_alias}}', 'YYYYMMDD').format("X"),
      max: +moment('{{dict_alias_period.s_latest_alias}}', 'YYYYMMDD').format("X"),
      from: +moment('{{dict_alias_period.s_earliest_req}}', 'YYYYMMDD').format("X"),
      to: +moment('{{dict_alias_period.s_latest_req}}', 'YYYYMMDD').format("X"),
      grid: true,
      force_edges: true,
      prettify: function(num) {
          var m = moment(num, "X");
          return m.format("Do MMMM, YYYY");
      }
  });
});
//const dateA = moment().format("X"); //moment('01-01-1900', 'DD-MM-YYYY');
//const dateB = moment('2021-06-23', 'YYYY-MM-DD').format("X"); //moment();

// Saving it's instance to var
var slider = $("#range_budget_period").data("ionRangeSlider");

jQuery("#btn_alias_enquiry").click(function (e) {
    //e.preventDefault();
    var n_from = jQuery('#range_alias_period').data().from;
    var n_to = jQuery('#range_alias_period').data().to;
    var s_from = moment.unix(n_from).format("YYYYMMDD");
    var s_to = moment.unix(n_to).format("YYYYMMDD");
    //var resultString = "Result: from: " + from + " to: " + to;
    //$("#result").html(resultString);
    $("#alias_period_from").val(s_from);
    $("#alias_period_to").val(s_to);
});
</script>
<!-- /ion_range -->

<script type="text/javascript">
jQuery("#btn_add_alias_bulk").click(function(){
    sMultipleAlias = jQuery("#multiple_campaign_alias").val();
    if(sMultipleAlias.length == 0)
    {
        alert('캠페인 대치 목록 정보를 입력하세요.');
        return false;
    }
    else
        return true;
})

jQuery(".lnk_update_alias").click(function(){
    var nAliasId = jQuery(this).attr('alias_id');
    if(nAliasId > 0)
    {
        var aCurUrl = window.location.href.split('campaign_alias');
        var nBrandId = '{{n_brand_id}}';
        sCurUrlBase = aCurUrl[0]; // 기존 param 모두 무시
        window.location.href = sCurUrlBase + 'campaign_alias_update/' + nBrandId + '/' + nAliasId;
    }
    else
        alert('plz choose alias');
})
</script>

<script src="/static/skins/default/js/bootstrap.min.js"></script>
{% endblock %}