{% extends 'layout_dashboard.html' %}

{% load humanize %}
{% block content %}
    {% block content_header %}
    
    {% endblock %}
<!-- begin - budget list table -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>GA 수집한 상품 목록 <small><button type="button" id='btn_update_items' class="btn btn-primary">저장</button></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>GA수집명칭</th>
                            <th>1계층</th>
                            <th>2계층</th>
                            <th>3계층</th>
                            <th>숨김</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form method="POST" id='frm_item_update' enctype="multipart/form-data">
                        <input type="hidden" id="act" name="act" value="update_item" />
                        {% csrf_token %}
                        {% for dict_row in lst_catalog %}
                        <tr>
                            <td title="{{dict_row.item_title}}"><input type="hidden" name="item_srls[]" value="{{dict_row.item_srl}}" />{{dict_row.item_title}}</td>
                            <td><input type="text" name="item_cat1[]" style="width:100px;" value="{{dict_row.cat1}}" /></td>
                            <td><input type="text" name="item_cat2[]" style="width:100px;" value="{{dict_row.cat2}}" /></td>
                            <td><input type="text" name="item_cat3[]" style="width:100px;" value="{{dict_row.cat3}}" /></td>
                            <td>{{dict_row.b_ignore}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- end - budget list table -->
<script type="text/javascript" src="/static/skins/default/js/moment/moment.min.js"></script>
<!-- ion_range -->
<script>
// jQuery(document).ready(function() {
//     jQuery('#datatable-responsive').DataTable({
//         "order": [[ 1, "desc" ]]
//     });
// });
jQuery("#btn_update_items").click(function(){
    jQuery('#frm_item_update').trigger('submit');
    console.log('dd');
})
</script>

<!-- Datatables-->
<link href="/static/skins/default/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/skins/default/js/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

<script src="/static/skins/default/js/datatables/jquery.dataTables.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.bootstrap.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.buttons.min.js"></script>
<script src="/static/skins/default/js/datatables/buttons.bootstrap.min.js"></script>
<script src="/static/skins/default/js/datatables/jszip.min.js"></script>
<script src="/static/skins/default/js/datatables/pdfmake.min.js"></script>
<script src="/static/skins/default/js/datatables/vfs_fonts.js"></script>
<script src="/static/skins/default/js/datatables/buttons.html5.min.js"></script>
<script src="/static/skins/default/js/datatables/buttons.print.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.keyTable.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.responsive.min.js"></script>
<script src="/static/skins/default/js/datatables/responsive.bootstrap.min.js"></script>
<script src="/static/skins/default/js/datatables/dataTables.scroller.min.js"></script>
{% endblock %}