{% extends 'layout_dashboard.html' %}

{% load humanize %}
{% load ratio_presentation %}  <!-- custom filter 추가 -->
{% block content %}
    {% block content_header %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-{{s_bokeh_version}}.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-{{s_bokeh_version}}.min.js"></script>
    {{ script | safe }}
    {% endblock %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{s_brand_name}} 바이럴 발생 빈도 <small>{{s_source_lbl}}</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a></li>
                            <li><a href="#">Settings 2</a></li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">블로그</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">뉴스</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">백과사전</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content4" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">카페</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content5" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">지식인</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content6" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">웹문서</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content7" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">이미지</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content8" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">쇼핑</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content9" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">전문자료</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.blog | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.news | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.encyc | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.cafearticle | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.kin | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.webkr | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content7" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.image | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content8" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.shop | safe }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content9" aria-labelledby="profile-tab">
                            <div style="height: 330px; width: 100%;">
                                {{ div.doc | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end - tab daily revenue performance -->
<script type="text/javascript">
jQuery('button.clickable').on('click', function(){
    let aCurUrl = window.location.href.split('?');
    let sCurUrlBase = aCurUrl[0]; // 기존 param 모두 무시
    sCurUrlBase = sCurUrlBase + $(this).attr('data-source');
    window.location.href = sCurUrlBase;
});
</script>
{% endblock %}