<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>sv plugin console</title>
    <!--https://codepen.io/prespik/pen/mYzBaE-->
</head>

<body>
    <form action="{% url 'svextract:plugin_console' brand_name=brand_name_json %}" method="POST" id='frm_new_brand' enctype="multipart/form-data">
        {% csrf_token %}
        {{brand_name_json}} storage does not exist<BR>
        do you want to create?
        <button type="submit" id='btn_create_new_brand' class="btn btn-primary">생성하기</button>
    </form>
</body>
</html>