<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Singleview Python{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block extra-style %}{% endblock %}
</head>

<body >
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">O2O EDI 분석 서비스</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown mx-1 btn btn-primary">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">분석</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="">유한락스</a>
              <a class="dropdown-item" href="">유한젠</a>
              <div class="dropdown-divider"></div>
          </div>
      </li>
      <li class="nav-item dropdown mx-1 btn btn-primary">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">데이터 관리</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="">새로운 업로드</a>
              <a class="dropdown-item" href="">파일 목록</a>
              <a class="dropdown-item" href="">데이터 추출</a>
              <div class="dropdown-divider"></div>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Util
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Archive</a>
          <a class="dropdown-item" href="">Search</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-5 mr-5">
      <li class="nav-item dropdown mx-1 btn btn-primary">
        {% if user.is_active %}
        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
          <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Logout</a>
          <a class="dropdown-item" href="">change password</a>
        </div>
        {% else %}
        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
          <i class="fas fa-user"></i>손님</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Login</a>
          <a class="dropdown-item" href="">Resgiter</a>
        </div>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block footer %}{% endblock %}

{% block extra-script %}{% endblock %}

<script type="text/javascript">
function actuator(aInArg)
{
    //console.log(aInArg);
    switch( aInArg['act'] )
    {
        case 'reload_page':
            window.location.reload();
            break;
        case 'redirect_to':
            if( aInArg['href'] )
                window.location.href = aInArg['href'];
            else
                console.log('redirect_to act');
            break;
        default:
            console.log('invalid act');
    }
}
</script>
</body>
</html>