{% extends "layout_dashboard.html" %}

{% load static %}

{% block title %}그로스해커가 없어도 온라인 브랜딩 감시부터 성과 분석과 시행 개선까지 쉽고 편리하게 시작! - singleview.co.kr{% endblock %}

{% block extra-style %}
{% endblock %}

{% block content %}
<div class="">
   <div class="page-title">
      <div class="title_left">
         <h3>그로스해커가 없어도!</h3>
      </div>
      <div class="title_right">
         <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search for...">
               <span class="input-group-btn">
               <button class="btn btn-default" type="button">Go!</button>
               </span>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h2>온라인 브랜딩 감시부터 <small></small></h2>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <div class="col-xs-3">
               <!-- required for floating -->
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tabs-left">
                  <li class="active"><a href="#home" data-toggle="tab">바이럴</a>
                  </li>
                  <li><a href="#profile" data-toggle="tab">유료 광고</a>
                  </li>
                  <li><a href="#messages" data-toggle="tab">고객 문의</a>
                  </li>
               </ul>
            </div>
            <div class="col-xs-9">
               <!-- Tab panes -->
               <div class="tab-content">
                  <div class="tab-pane active" id="home">
                     <p class="lead">온라인 마케팅 전문가가 없어도</p>
                     <p>서비스 소개글</p>
                  </div>
                  <div class="tab-pane" id="profile">Profile Tab.</div>
                  <div class="tab-pane" id="messages">Messages Tab.</div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h2>매출 분석 자동화까지 <small></small></h2>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <div class="col-xs-9">
               <!-- Tab panes -->
               <div class="tab-content">
                  <div class="tab-pane active" id="home-r">
                     <p class="lead">성과 분석과 시행 개선을 한눈에!</p>
                     <p>서비스 소개글</p>
                  </div>
                  <div class="tab-pane" id="profile-r">Profile Tab.</div>
                  <div class="tab-pane" id="messages-r">Messages Tab.</div>
               </div>
            </div>
            <div class="col-xs-3">
               <!-- required for floating -->
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tabs-right">
                  <li class="active"><a href="#home-r" data-toggle="tab">광고 운영</a>
                  </li>
                  <li><a href="#profile-r" data-toggle="tab">자사몰 운영</a>
                  </li>
                  <li><a href="#messages-r" data-toggle="tab">매출 성과</a>
                  </li>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix"></div>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}