<div class="menu_section">
{% if lst_owned_brand %}
	<h3>데이터 시각화</h3>
	<ul class="nav side-menu">
	{% for dict_brand in lst_owned_brand %}
		<li><a><i class="fa fa-home"></i> {{dict_brand.s_brand_ttl}} <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu" style="display: none">
				<li><a href="{% url 'svload:index' dict_brand.n_brand_id %}">Today Focus</a></li>
				<li><a href="{% url 'svload:ga_media' dict_brand.n_brand_id %}">GA & Media</a></li>
                <li><a href="{% url 'svload:ga_item' dict_brand.n_brand_id %}">GA 상품 정보</a></li>
				<li><a href="{% url 'svload:edi_today' dict_brand.n_brand_id %}">EDI</a></li>
				<li><a href="{% url 'svload:viral_main' dict_brand.n_brand_id %}">고객 바이럴</a></li>
				<li><a href="{% url 'svload:budget_list' dict_brand.n_brand_id %}">예산 설정</a></li>
                <li><a href="{% url 'svload:term_manager' dict_brand.n_brand_id %}">키워드 관리</a></li>
                <li><a href="{% url 'svload:campaign_alias_list' dict_brand.n_brand_id %}">비표준 캠페인명 대치 목록</a></li>
                <li><a href="{% url 'svextract:plugin_console' dict_brand.n_brand_id %}">API 추출</a></li>
                <li><a href="{% url 'svupload:index' dict_brand.n_brand_id %}">파일 목록</a></li>
			</ul>
		</li>
	{% endfor %}
	</ul>
{% endif %}


{% if lst_owned_acct %}
	<h3>데이터 추출</h3>
	<ul class="nav side-menu">
	{% for dict_acct in lst_owned_acct %}
		<li><a><i class="fa fa-home"></i> {{dict_acct.s_acct_ttl}} <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu" style="display: none">
                
			</ul>
		</li>
	{% endfor %}
	</ul>
{% endif %}
</div>